### Java-Web ###
## ignoring target file
target/

### NetBeans ###
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### SASS ###
/web/css/sass/
/web/css/styles.css.map
/web/css/.sass-cache/